<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
      <!-- 指定Dll所在文件夹目录 -->
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="Libs"/>
      </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
